{% extends "driver_panel/base.html" %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Vehicle Information</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'driver_dashbord' %}">Home</a></li>
            <li class="breadcrumb-item active">Vehicle Information</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  
  <section class="content">
<div class="container-fluid">
    
    {% if vehicle %}
        {% for v in vehicle %}
        <div class="card mb-4 shadow">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if v.vehicle_image %}
                        <img src="{{ v.vehicle_image.url }}" class="card-img" alt="Vehicle Image">
                    {% else %}
                        <div class="d-flex align-items-center justify-content-center h-100 bg-light">
                            <i class="fas fa-car fa-4x text-muted"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ v.vehicle_name }} ({{ v.vehicle_model }})</h5>
                        <table class="table table-sm table-borderless">
                            <tr><th scope="row">Number:</th><td>{{ v.vehicle_number }}</td></tr>
                            <tr><th scope="row">Type:</th><td>{{ v.vehicle_type }}</td></tr>
                            <tr><th scope="row">Fuel:</th><td>{{ v.vehicle_fuel }}</td></tr>
                            <tr><th scope="row">Transmission:</th><td>{{ v.vehicle_transmission }}</td></tr>
                            <tr><th scope="row">Mileage:</th><td>{{ v.vehicle_mileage }}</td></tr>
                           
                            {# Car-specific fields #}
                            {% if "car" in v.vehicle_type|lower %}
                                <tr><th scope="row">Airbags:</th><td>{{ v.vehicle_airbags }}</td></tr>
                                <tr><th scope="row">Seats:</th><td>{{ v.vehicle_seats }}</td></tr>
                                <tr><th scope="row">Doors:</th><td>{{ v.vehicle_doors }}</td></tr>
                            {% endif %}

                            {# Bike-specific fields #}
                            {% if "bike" in v.vehicle_type|lower %}
                                <tr><th scope="row">Brake Type:</th><td>{{ v.vehicle_brake_type }}</td></tr>
                                <tr><th scope="row">Start Type:</th><td>{{ v.vehicle_start_type }}</td></tr>
                                <tr><th scope="row">Weight:</th><td>{{ v.vehicle_weight }} kg</td></tr>
                            {% endif %}

                            {# Tempo-specific fields #}
                            {% if "tempo" in v.vehicle_type|lower %}
                                <tr><th scope="row">Tempo Seats:</th><td>{{ v.tempo_seats }}</td></tr>
                                <tr><th scope="row">Tempo Doors:</th><td>{{ v.tempo_doors }}</td></tr>
                                <tr><th scope="row">Capacity:</th><td>{{ v.vehicle_capacity }}</td></tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info mt-3">
            {% if driver.vehicle_link == 'own' %}
                You are using your own vehicle. No company vehicle assigned.
            {% else %}
                No company vehicle information available.
            {% endif %}
        </div>
    {% endif %}
</div>
</section>
{% endblock %}
